<h2 class="p-2">Login</h2>
<form>
  <div class="form-group">
    <label for="gebruikersnaam">Gebruikersnaam</label>
    <input type="email" class="form-control" id="gebruikersnaam" aria-describedby="gebruikersnaamhelp" placeholder="Vul gebruikersnaam in">
  </div>
  <div class="form-group">
    <label for="paswoord">Paswoord</label>
    <input type="password" class="form-control" id="paswoord" placeholder="Paswoord">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
