<h2 class="p-2">Login</h2>
<form [formGroup]="loginForm" >
  <div class="form-group">
    <label for="gebruikersnaam">Gebruikersnaam</label>
    <input formControlName="naam" type="text" class="form-control" id="gebruikersnaam" aria-describedby="gebruikersnaamhelp" placeholder="Vul gebruikersnaam in">
  </div>
  <div class="form-group">
    <label for="paswoord">Paswoord</label>
    <input formControlName="passwoord" type="password" class="form-control" id="paswoord" placeholder="Paswoord">
  </div>
  <button  class="btn btn-primary" (click)="login()">Login</button>
</form>
