<h3>Beloningen</h3>
<div class="row border mt-2">
  <table class="table table-striped" >
    <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Aantal punten</th>
      <th scope="col">Kopen</th>
    </tr>
    </thead>
    <tbody >
    <tr *ngFor="let beloning  of (users$ |async)">
      <td>{{ beloning.naam }}</td>
      <td>{{ beloning.aantalPunten}}</td>
      <td>
        <button type="submit" class="btn btn-primary"><i class="fas fa-shopping-cart"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<pre>{{ totalBeloningen |json }}</pre>


