<h3>Opdrachten</h3>
<div class="row border mt-2">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Uitleg</th>
      <th scope="col">Aantal punten</th>
      <th scope="col">Gedaan?</th>
      <th scope="col">Acties</th>
    </tr>
    </thead>
    <tbody >
    <tr  *ngFor="let opdracht  of (opdrachten$ |async)">
        <td *ngIf="opdracht.goedgekeurd == 1">{{ opdracht.uitleg}}</td>
        <td *ngIf="opdracht.goedgekeurd == 1">{{ opdracht.punten}}</td>
        <td *ngIf="opdracht.goedgekeurd == 1">
          <button type="submit" class="btn btn-success"><i class="fas fa-check"></i></button>
        </td>
        <td *ngIf="opdracht.goedgekeurd == 1">
          <button type="button" class="btn btn-danger mr-2" (click)="verwijderOpdracht(opdracht._id)"><i class="fas fa-times"i></i></button>
          <button type="button" class="btn btn-info" (click)="updateOpdracht(opdracht._id)"><i class="fas fa-pen"i></i></button>
        </td>
    </tr>
    </tbody>
    <tbody>
    <tr  *ngFor="let opdracht  of (opdrachten$ |async)">
      <td>{{ opdracht.uitleg}}</td>
      <td>{{ opdracht.punten}}</td>
      <td>
        <form #addForm="ngForm" (submit)="addVoltooideOpdracht(addForm.value)">
          <input type="hidden" id="opdrachtId"
                 required
                 name="opdrachtId"
                 #myopdrachtId="ngModel"
                 [(ngModel)]="voltooideOpdracht.opdrachtId"
                 value="{{ opdracht._id }}">
          <input type="hidden" id="gebruikerId"
                 required
                 name="gebruikerId"
                 #mygebruikerId="ngModel"
                 [(ngModel)]="voltooideOpdracht.gebruikerId"
                 value="5bf405275560411b5c7b1b5f">
          <input type="hidden" id="goedgekeurd"
                 required
                 name="goedgekeurd"
                 #mygoedgekeurd="ngModel"
                 [(ngModel)]="voltooideOpdracht.gebruikerId"
                  >
          <input type="hidden" id="uitleg"
                 required
                 name="uitleg"
                 #myUitleg="ngModel"
                 value="{{ opdracht.uitleg }}"
                 [(ngModel)]="voltooideOpdracht.gebruikerId"
          >
          <button type="submit" class="btn btn-primary">
            Submit
          </button>
          <!--<button type="submit" class="btn btn-success"><i class="fas fa-check"></i></button>-->
        </form>
      </td>
      <td>
          <button type="button" class="btn btn-danger mr-2" (click)="verwijderOpdracht(opdracht._id)"><i class="fas fa-times"i></i></button>
          <button type="button" class="btn btn-info" (click)="updateOpdracht(opdracht._id)"><i class="fas fa-pen"i></i></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<h3>Toevoegen van opdrachten</h3>
<div class="container">
  <form #contactForm="ngForm" (submit)="addOpdracht(contactForm.value)">
    <div class="form-group">
      <label for="naam">Uitleg</label>
      <input type="text" id="naam" class="form-control"
             required
             minlength="3"
             name="uitleg"
             #myNaam="ngModel"
             [(ngModel)]="opdracht.uitleg">
    </div>
    <div class="form-group">
      <label for="aantalPunten">Punten</label>
      <input type="number" id="aantalPunten" class="form-control"
             required
             name="punten"
             #myPunten="ngModel"
             [(ngModel)]="opdracht.punten">
      <input type="hidden" id="goedgekeurd" class="form-control"
             name="goedgekeurd"
             #myPunten="ngModel"
             [(ngModel)]="opdracht.goedgekeurd">
    </div>
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
  </form>
</div>
<!--<pre> {{ opdrachten$| async |json }}</pre>-->

