<h3>Opdrachten</h3>
<div class="row border mt-2">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Uitleg</th>
      <th scope="col">Aantal punten</th>
      <th scope="col">Gedaan?</th>
      <th scope="col">Acties</th>
    </tr>
    </thead>
    <tbody *ngIf="(user$ |async)?.niveau == 0">
    <tr  *ngFor="let opdracht  of (opdrachten$ |async)">
        <td *ngIf="opdracht.goedgekeurd == 1">{{ opdracht.uitleg}}</td>
        <td *ngIf="opdracht.goedgekeurd == 1">{{ opdracht.punten}}</td>
        <td *ngIf="opdracht.goedgekeurd == 1">
          <button type="submit" class="btn btn-success"><i class="fas fa-check"></i></button>
        </td>
        <td *ngIf="opdracht.goedgekeurd == 1">
          <button type="button" class="btn btn-danger mr-2" (click)="verwijderOpdracht(opdracht._id)"><i class="fas fa-times"i></i></button>
          <button type="button" class="btn btn-info" (click)="updateOpdracht(opdracht._id)"><i class="fas fa-pen"i></i></button>
        </td>
    </tr>
    </tbody>
    <tbody *ngIf="(user$ |async)?.niveau == 1">
    <tr  *ngFor="let opdracht  of (opdrachten$ |async)">
      <td>{{ opdracht.uitleg}}</td>
      <td>{{ opdracht.punten}}</td>
      <td>
        <button type="submit" class="btn btn-success"><i class="fas fa-check"></i></button>
      </td>
      <td>
        <button type="button" class="btn btn-danger mr-2" (click)="verwijderOpdracht(opdracht._id)"><i class="fas fa-times"i></i></button>
        <button type="button" class="btn btn-info" (click)="updateOpdracht(opdracht._id)"><i class="fas fa-pen"i></i></button>
      </td>
    </tr>

    </tbody>
  </table>
</div>
<h3>Toevoegen van opdrachten</h3>
<div class="container">
  <form #contactForm="ngForm" (submit)="addOpdracht(contactForm.value)">
    <div class="form-group">
      <label for="naam">Uitleg</label>
      <input type="text" id="naam" class="form-control"
             required
             minlength="3"
             name="uitleg"
             #myNaam="ngModel"
             [(ngModel)]="opdracht.uitleg">
    </div>
    <div class="form-group">
      <label for="aantalPunten">Punten</label>
      <input type="number" id="aantalPunten" class="form-control"
             required
             name="punten"
             #myPunten="ngModel"
             [(ngModel)]="opdracht.punten">
    </div>
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
  </form>
</div>
<!--<pre> {{ opdrachten$| async |json }}</pre>-->

