
<header class="masthead text-center d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>Welkom</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-10 mx-auto">
        <p class="mb-15">
          Op deze site kan een medewerker beloond worden voor het werk dat hij verricht. 
          Telkens als hij een opdracht voltooid,<br/> kan de werkgever hiervoor punten uitdelen.
          <br/>
          De werknemer kan met deze punten een beloning uit een assortiment kiezen.
        </p>

        <h5>
            <strong>Bekijk ons beloningsassortiment:</strong>
        </h5>
        <hr>
        <a class="btn btn-primary" routerLink="/beloning" routerLinkActive="active">Ga naar beloningen</a>
      </div>
    </div>
  </div>
</header>

