<div class="row">
  <div class="col-sm-4 border m-2 p-2">
    <h4>{{ (user$ |async ).naam  }} - Historiek</h4>
    <p>Aantal punten: {{ (user$ |async).behaaldePunten }}</p>
  </div>
  <div class="col-sm-7 border m-2 p-2 m-0">
  <table class="table table-responsive table-striped">
    <thead>
    <tr>
      <th scope="col">Uitleg</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let voltooideOpdracht  of (voltooideOpdrachten$ |async)">
      <td>{{ voltooideOpdracht.uitleg }}</td>
    </tr>
    </tbody>
  </table>
  </div>
</div>
<pre>{{ user$ |async |json }}</pre>
<pre>{{ voltooideOpdrachten$ |async |json }}</pre>
