<div class="row">
  <div class="col-sm-4 border m-2 p-2">
    <h4>Lorenz Cleymans - Historiek</h4>
    <p>Aantal behaalde punten: 60</p>
  </div>
  <div class="col-sm-7 border m-2 p-2 m-0">
  <table class="table table-responsive table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Uitleg</th>
      <th scope="col">Aantal punten</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Schrijf een blog over jezelf in kader van het bedrijf.</td>
      <td>50</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Carpool minstens 20 keer.</td>
      <td>10</td>
    </tr>
    </tbody>
  </table>
  </div>
</div>
